# intermediate build artifacts
.mypy_cache
.ninja_log
gen/
*.log

# Icarus Verilog build artifacts
ntcrackfpga.ic
*.vcd
*.ictest

# Yosys build artifacts
abc.history
ntcrackfpga.json
ntcrackfpga-pnr.txt
ntcrackfpga.bit
ntcrackfpga.svf
