# I/O pin configuration for ECP5 Evaluation Board (LFE5UM5G-85F-EVN)
# see also versaboard/versabanks.md

# Versa J39 pin 19
LOCATE COMP "store_hash_byte" SITE "A9";
IOBUF PORT "store_hash_byte" IO_TYPE=LVCMOS33;

# Versa J39 pin 20
LOCATE COMP "go" SITE "B10";
IOBUF PORT "go" IO_TYPE=LVCMOS33;

# Versa J39 pin 29
LOCATE COMP "match_found" SITE "E7";
IOBUF PORT "match_found" IO_TYPE=LVCMOS33;

# Versa J39 pin 31
LOCATE COMP "your_turn" SITE "A11";
IOBUF PORT "your_turn" IO_TYPE=LVCMOS33;

# Versa J40 top row (pins 4, 6, 8, 10, 12, 14, 16, 18)
LOCATE COMP "new_hash_byte[0]" SITE "F1";
LOCATE COMP "new_hash_byte[1]" SITE "G1";
LOCATE COMP "new_hash_byte[2]" SITE "J5";
LOCATE COMP "new_hash_byte[3]" SITE "K3";
LOCATE COMP "new_hash_byte[4]" SITE "L5";
LOCATE COMP "new_hash_byte[5]" SITE "N5";
LOCATE COMP "new_hash_byte[6]" SITE "P5";
LOCATE COMP "new_hash_byte[7]" SITE "M3";
IOBUF PORT "new_hash_byte[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "new_hash_byte[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "new_hash_byte[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "new_hash_byte[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "new_hash_byte[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "new_hash_byte[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "new_hash_byte[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "new_hash_byte[7]" IO_TYPE=LVCMOS33;

# Versa J40 bottom row (pins 1, 5, 7, 9, 11, 13, 15, 17)
LOCATE COMP "password_byte[0]" SITE "K2";
LOCATE COMP "password_byte[1]" SITE "H2";
LOCATE COMP "password_byte[2]" SITE "J4";
LOCATE COMP "password_byte[3]" SITE "J3";
LOCATE COMP "password_byte[4]" SITE "L4";
LOCATE COMP "password_byte[5]" SITE "M4";
LOCATE COMP "password_byte[6]" SITE "N4";
LOCATE COMP "password_byte[7]" SITE "N3";
IOBUF PORT "password_byte[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "password_byte[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "password_byte[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "password_byte[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "password_byte[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "password_byte[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "password_byte[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "password_byte[7]" IO_TYPE=LVCMOS33;
